<section
  class="container d-flex flex-row-reverse _view-width _margin-top _body-container light-effect"
>
  <ul class="list-unstyled _body-title-group">
    <li class="_border">
      <a class="_body-title" routerLink="/">AboutDevinWeston</a>
    </li>
    <li class="_border">
      <a class="_body-title" routerLink="/MeetTheTeam">MeetTheTeam</a>
    </li>
    <li class="_border">
      <a class="_body-title" routerLink="/CommandmentsofWeston"
        >CommandmentsofWeston</a
      >
    </li>
    <li class="_border">
      <a class="_body-title" routerLink="/Holdings">Holdings</a>
    </li>
    <li class="_border">
      <a class="_body-title" routerLink="/WestonAlphaFund">WestonAlphaFund</a>
    </li>
  </ul>
  <article class="_body-description scroll _border">
    <router-outlet></router-outlet>
  </article>
</section>
