<section
  class="container d-flex flex-row-reverse _view-width _margin-top _body-container"
>
  <ul class="list-unstyled _body-title-group">
    <li class="_body-title-1">
      <a class="_body-title" routerLink="/"
        >AboutDevinWeston<span class="arrow"></span
      ></a>
    </li>
    <li class="_body-title-2">
      <a class="_body-title" routerLink="/MeetTheTeam"
        >MeetTheTeam<span class="arrow"></span
      ></a>
    </li>
    <li class="_body-title-3">
      <a class="_body-title" routerLink="/CommandmentsofWeston"
        >CommandmentsofWeston<span class="arrow"></span
      ></a>
    </li>
    <li class="_body-title-4">
      <a class="_body-title" routerLink="/Holdings"
        >Holdings<span class="arrow"></span
      ></a>
    </li>
    <li class="_body-title-5">
      <a class="_body-title" routerLink="/WestonAlphaFund"
        >WestonAlphaFund<span class="arrow"></span
      ></a>
    </li>
  </ul>
  <article class="_body-description scroll _border">
    <router-outlet></router-outlet>
    <div class="_body-description-padding-bottom"></div>
  </article>
</section>
