<div class="commandments-container light-effect">
  <h1>10 Commandments of Weston</h1>
  <section class="commandments-section">
    <p class="commandments-question">
      <span>{{ this.currentItter[0] + 1 }}.</span>
      {{ this.titles[this.currentItter[0]] }}
    </p>
    <p class="commandments-answer">{{ this.values[this.currentItter[0]] }}</p>
  </section>
  <section>
    <p class="commandments-question">
      <span>{{ this.currentItter[1] + 1 }}.</span>
      {{ this.titles[this.currentItter[1]] }}
    </p>
    <p class="commandments-answer">{{ this.values[this.currentItter[1]] }}</p>
  </section>
  <button
    class="commandments-next"
    *ngIf="this.index < this.titles.length - 2; else placeholder"
    (click)="nextHandler()"
  >
    <span class="commandments-next-btn">Next Commandments</span
    ><span class="arrow"></span>
  </button>

  <ng-template #placeholder>
    <br />
  </ng-template>
</div>
