<section
  class="_border _margin-top light-effect _view-width mx-auto footer-section"
>
  <h2>Hot Picks Of The Day</h2>

  <dl class="footer-section-description">
    <div class="description-item">
      <dt>
        <span class="arrow"></span
        ><span class="description-title">Micro-franchising:</span>
      </dt>
      <dd>
        Self-sufficient fast food outlets in African hunter-gatherer
        communities.
      </dd>
    </div>
    <div class="description-item">
      <dt>
        <span class="arrow"></span
        ><span class="description-title">Dogsledding as one of the dogs:</span>
      </dt>
      <dd>
        Burns 2000 calories an hour and annihilates the glutes. Plus you get to
        fight with your teeth to be the alpha.
      </dd>
    </div>
    <div class="description-item">
      <dt>
        <span class="arrow"></span
        ><span class="description-title">Private militias:</span>
      </dt>
      <dd>
        The future of high-end security. Buy a piece of the action on our
        website right now.
      </dd>
    </div>
  </dl>
</section>
