/*   Reset   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

image {
  display: inline-block;
}

body::-webkit-scrollbar {
  width: 0px;
}

.scroll::-webkit-scrollbar {
  width: 0;
}

/*   Default    */

html {
  --text-gold: #bd9135;
  --text-silver: #cfcfcf;

  --head-bg: #333333;
  --body-bg: #303030;
  --body-bg-lines: #2b2b2b;

  --head-silver-bg: #545456;
}

body {
  background-color: var(--body-bg);
}

/*   Background Lines   */

.grid-container {
  z-index: -1;

  padding: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  list-style-type: none;
}

.bg-horizontal li {
  display: block;
  padding: 6px;
  border-bottom: 3px solid var(--body-bg-lines);
}

.bg-vertical li {
  display: inline-flex;
  padding: 6px;
  height: 100vh;
  border-left: 3px solid var(--body-bg-lines);
}

/*   Util   */
.arrow {
  content: url("./assets/icons/arrow.png");
  width: 40px;
  height: 40px;
}

.light-effect {
  background-image: linear-gradient(
    to right top,
    var(--head-bg),
    var(--head-bg),
    var(--head-bg),
    var(--head-bg),
    var(--head-bg),
    var(--head-silver-bg)
  );
}

._border {
  border: 3px solid var(--text-gold);
}

._margin-top {
  margin-top: 2.4rem;
}

._view-width {
  max-width: 52rem;
}

/*   Header & Navbar   */
header {
  z-index: 1;

  color: var(--text-gold);
  background-image: linear-gradient(
    to right top,
    var(--head-bg),
    var(--head-bg),
    var(--head-bg),
    var(--head-bg),
    var(--head-silver-bg)
  );
  box-shadow: 3px 10px 20px 1px #00000080;
}

/*  Main - Head   */
.head {
  display: flex;
  flex-wrap: nowrap;
  max-height: 13rem;
}
.head-image {
  border-right: 3px solid var(--text-gold);
}

.head-section {
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: space-between;
  width: 100%;
  padding-left: 1rem;
}

.head-section-div {
  color: var(--text-gold);
  margin-block: auto;
}

.head-section-p__blockquote {
  color: var(--text-silver);
}

/*  Main - Body  */
._body-container {
  padding: 0;
  height: 28rem;
}

/*  Main - Body - Title  */
._body-title-group {
  transform: rotate(90deg) translate(0.4rem, 4rem) scaleX(1.444);
}

._body-title-group li {
  border-inline: 3px solid var(--text-gold);
  border-top: 3px solid var(--text-gold);
  padding: 0.7rem 0.6rem;
}

._body-title {
  font-size: 1.4rem;
  padding: 0.8rem;
  color: var(--text-gold);
}

/*  Main - Body - Description  */

._body-description {
  padding: 0.8rem;
  padding-bottom: 0;
  overflow: scroll;
  color: var(--text-silver);
}

._body-description h1 {
  color: var(--text-gold);
}

/*  Main - Footer  */

.footer-section {
  color: var(--text-silver);
  margin-bottom: 3rem;
  padding: 0.8rem 0.8rem 0;
}

.footer-section h2 {
  color: var(--text-gold);
}

.description-item {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
}

.description-item dt {
  color: var(--text-gold);
  margin-right: 3rem;
  min-width: 14rem;
  display: flex;
}

.description-item dt .arrow {
  padding-bottom: 0.6rem;
  padding-right: 0.8rem;
}

.description-title {
  font-size: 1.2rem;
}

.description-item:nth-child(2) {
  border-block: 3px solid #bd9135;
}

.description-item:nth-child(3) {
  padding-bottom: 0;
}

/*  Media Query  */
